body {
  margin: 0px;
  font-family: "open sans", sans-serif;
}

header {
  position: fixed;
  padding: 10px;
  background: #999;
  overflow: hidden;
  width: 100%;
  top: 0px;
}

header h1 {
  font-size: 12pt;
  margin: 0px;
}

header audio {
  min-height: 30px;
}

ul {
  list-style: none;
  padding: 60px 00px;
}

ul li div {
  padding: 6px;
}

div.active {
  background: #666;
  color: #fff;
}


ul li:nth-child(odd) {
  background: #eee;
}