<!doctype html>
<html ng-app="playa">
  <head>
    <script src="/static/angular.min.js"></script>
    <script src="/static/playa.js"></script>
    <link rel="stylesheet" href="/static/playa.css">
  </head>
  <body>
    <div ng-controller="PlaylistController">
      <header>
        <h1>{{ currentTitle }}</h1>
        <audio id="audio" audio-controls src="/m{{ src }}" preload="auto" controls>not supported</audio>
      </header>
      <ul>
        <li ng-repeat="entry in playlist">
          <div ng-click="onPlay(entry.path, entry.title)"
               data-path="{{ entry.path }}"
               class="{{ entry.title == currentTitle && 'active' || 'inactive' }}">
            {{ entry.title }}</div>
        </li>
      </ul>
    </div>
  </body>
</html>
